@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppings', sans-serif;
  font-size: 0.9em;
}

.InputDateRangePicker {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.InputDateRangePicker__calendar {
  padding: 10px;
  width: 300px;
}

.InputDateRangePicker__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.InputDateRangePicker__title {
  font-size: 1.1em;
}

.InputDateRangePicker__weeks,
.InputDateRangePicker__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.InputDateRangePicker__square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.InputDateRangePicker__square--ghost {
  opacity: 0.5;
}
