* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.error {
  background-color: rgb(198, 99, 99);
}

canvas {
  width: 600px;
  height: 600px;
  background-color: #fff;
  border: solid 1px #121212;
}
