body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #121212;
}

#textarea {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #222;
}

textarea {
  width: 500px;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: transparent;
  color: #fff;
  border: none;
}

textarea:focus {
  outline: none;
}
