* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4rem;
  display: flex;
  justify-content: center;
  background-color: royalblue;
  overflow-x: hidden;
}

.container {
  margin-top: 50px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.card {
  padding: 20px;
  background-color: #fff;
  color: #424242;
  border-radius: 10px;
}

.card span {
  font-weight: bold;
  font-size: 0.9rem;
}

.card pre {
  overflow: auto;
  white-space: pre-wrap;
}
