* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 14px;
}

.container {
  width: 80%;
  background-color: #ddd;
  padding: 20px;
  border-radius: 10px;
}

.cursor {
  position: absolute;
  top: 0;
  left: 0;
  border-left: solid 1px #000;
  animation: cursor-blink 1s infinite;
}

.textarea {
  width: 100%;
  font-size: 14px;
}

.textarea:focus {
  outline: none;
}

.editor {
  width: 100%;
  min-height: 40px;
  background-color: #fff;
  font-size: 14px;
}

@keyframes cursor-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
