.InputPassword {
  border: 1px solid #e3e9e7;
  border-radius: 0.4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.InputPassword input {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
  width: 100%;
  color: #0b434c;
}

.InputPassword input::placeholder {
  color: #ccc;
}

.InputPassword:focus-within {
  border-color: #ccc;
}

.InputPassword input:focus {
  outline: none;
}

.InputPassword button {
  background-color: transparent;
  border: none;
  min-width: 28px;
  width: 20%;
  max-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.InputPassword button:focus {
  outline: none;
}

.InputPassword span {
  font-size: 1rem;
  color: #ccc;
}

.InputPassword--error,
.InputPassword--error:focus {
  border-color: #d5427a;
}
