* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.Notebook {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Notebook__note {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
}

.Notebook__input {
  border: none;
  background-color: transparent;
  width: 100%;
}

.Notebook__input:focus {
  outline: none;
}

.Notebook__input--heading1,
.Notebook__input--heading2,
.Notebook__input--heading3 {
  font-weight: 600;
}

.Notebook__input--heading1 {
  font-size: 2em;
}

.Notebook__input--heading2 {
  font-size: 1.6em;
}

.Notebook__input--heading3 {
  font-size: 1.2em;
}
