* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #23242a;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  min-width: 15em;
  position: relative;
  margin: 2em;
}

.dropdown__select {
  background-color: #2a2f3b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px #2a2f3b;
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
  transition: background 0.3s;
}

.dropdown__select:hover {
  background-color: #323741;
}

.dropdown__caret {
  width: 0;
  height: 0;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

.dropdown__caret--rotate {
  transform: rotate(180deg);
}

.dropdown__menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background-color: #323741;
  border: solid 1px #363a43;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #9fa5b5;
  position: absolute;
  top: 4em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 1;
  display: block;
  transition: 0.2s;
  z-index: 1;
}

.dropdown__menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}

.dropdown__menu li:hover {
  background-color: #2a2d35;
}

.dropdown__menu li.active {
  background-color: #23242a;
}

.dropdown__menu--open {
  display: block;
  opacity: 1;
}
