* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PixelDraw {
  background-color: #fff;
}

.PixelDraw__canvas {
  border: solid 1px #000;
}

.PixelDraw__tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PixelDraw__width,
.PixelDraw__color {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.PixelDraw__width input {
  width: 40px;
  text-align: center;
}

.PixelDraw__button {
  padding: 2px 10px;
  cursor: pointer;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
