* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.InputPagination {
  display: flex;
  gap: 5px;
}

.InputPagination button,
.InputPagination span {
  width: 30px;
  height: 30px;
}

.InputPagination__button {
  background-color: #bbdefb;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.InputPagination__button:hover {
  background-color: #1e88e5;
  color: #fff;
}

.InputPagination__button--current {
  background-color: #1e88e5;
  color: #fff;
}

.InputPagination span {
  display: flex;
  align-items: center;
  justify-content: center;
}
