* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.container {
  width: 80%;
}

.input {
  opacity: 0;
  z-index: -999;
  position: absolute;
}

.button button {
  padding: 0.5em;
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  cursor: pointer;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.bar div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar p {
  font-weight: bold;
}

.typing {
  overflow: hidden;
  max-height: 256px;
}

.typing::-webkit-scrollbar {
  width: 0;
}

.typing p {
  font-size: 1.2em;
  text-align: justify;
  letter-spacing: 1px;
  word-break: break-all;
}

.typing p span {
  position: relative;
}

.typing p span.correct {
  color: #e6ad12;
}

.typing p span.incorrect {
  color: #e21e31;
  border-radius: 4px;
}

.typing p span.active::before {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  border-radius: 5px;
  background: #007acc;
  animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
