* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 600px;
}

.title {
  margin-bottom: 30px;
}

.header {
  width: 100%;
  border: solid 1px #424242;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  background-color: #1565c0;
  color: #fff;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.code {
  background-color: #eee;
  padding: 20px;
  border-radius: 5px;
}
