* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: monospace;
  font-size: 1.1em;
}

.JsonFormatter {
  padding: 24px;
  width: 100%;
  height: 100%;
  background-color: #eee;
  overflow-y: auto;
}

.JsonFormatter__entry {
  padding: 4px 0;
}

.JsonFormatter__collapsible {
  position: relative;
}

.JsonFormatter__collapsible::before {
  content: '-';
  position: absolute;
  left: -14px;
}

.JsonFormatter__collapsed .JsonFormatter__details {
  display: none;
}

.JsonFormatter__collapsed.JsonFormatter__collapsible::before {
  content: '+';
}

.JsonFormatter__body {
  margin-left: 24px;
}
