* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: monospace;
  font-size: 1.1em;
}

.JsonFormatter {
  padding: 24px;
  width: 100%;
  height: 100%;
  background-color: #eee;
  overflow-y: auto;
}

.JsonFormatter__entry {
  padding: 6px 0;
}

.JsonFormatter__entry--toggleable {
  position: relative;
}

.JsonFormatter__entry--toggleable > .JsonFormatter__key span,
.JsonFormatter__entry--toggleable > .JsonFormatter__value span {
  cursor: pointer;
  user-select: none;
}

.JsonFormatter__entry--toggleable > .JsonFormatter__key span:hover,
.JsonFormatter__entry--toggleable > .JsonFormatter__value span:hover {
  text-decoration: underline;
}

.JsonFormatter__entry--toggleable::before {
  content: '+';
  position: absolute;
  left: -14px;
}

.JsonFormatter__entry--open > .JsonFormatter__key .JsonFormatter__details,
.JsonFormatter__entry--open > .JsonFormatter__value .JsonFormatter__details {
  display: none;
}

.JsonFormatter__entry--open.JsonFormatter__entry--toggleable::before {
  content: '-';
}

.JsonFormatter__body {
  margin-left: 24px;
  display: none;
}

.JsonFormatter__entry--open > .JsonFormatter__body {
  display: block;
}
