* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: monospace;
  font-size: 1.1em;
}

.JFormat {
  padding: 24px;
  width: 100%;
  height: 100%;
  background-color: #eee;
  overflow-y: auto;
}

.JFormat__entry {
  padding: 6px 0;
}

.JFormat__entry--toggleable {
  position: relative;
}

.JFormat__entry--object.JFormat__entry--open > .JFormat__key::after,
.JFormat__entry--object.JFormat__entry--open > .JFormat__value::after {
  content: '{';
}

.JFormat__entry--array.JFormat__entry--open > .JFormat__key::after,
.JFormat__entry--array.JFormat__entry--open > .JFormat__value::after {
  content: '[';
}

.JFormat__entry--toggleable > .JFormat__key span,
.JFormat__entry--toggleable > .JFormat__value span {
  cursor: pointer;
  user-select: none;
}

.JFormat__entry--toggleable > .JFormat__key span:hover,
.JFormat__entry--toggleable > .JFormat__value span:hover {
  text-decoration: underline;
}

.JFormat__entry--toggleable::before {
  content: '+';
  position: absolute;
  left: -14px;
}

.JFormat__entry--open > .JFormat__key .JFormat__details,
.JFormat__entry--open > .JFormat__value .JFormat__details {
  display: none;
}

.JFormat__entry--open.JFormat__entry--toggleable::before {
  content: '-';
}

.JFormat__body {
  margin-left: 24px;
  display: none;
}

.JFormat__entry--open > .JFormat__body {
  display: block;
}
